@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

@{
    Layout = "_Layout";
    var model = new LoginViewModel();
}

<h1>Login</h1>

@Html.ValidationSummary("Login", new { @class = "text-danger" })

@using (Html.BeginUmbracoForm("Login", "Member", FormMethod.Post))
{
    <div class="mb-3">
        <label for="Username" class="form-label">Email</label>
        @Html.TextBoxFor(m => model.Username, new { 
            @class = "form-control", 
            placeholder = "Enter your email",
            type = "email"
        })
        @Html.ValidationMessageFor(m => model.Username, "", new { @class = "text-danger" })
    </div>

    <div class="mb-3">
        <label for="Password" class="form-label">Password</label>
        @Html.PasswordFor(m => model.Password, new { 
            @class = "form-control", 
            placeholder = "Enter your password"
        })
        @Html.ValidationMessageFor(m => model.Password, "", new { @class = "text-danger" })
    </div>

    <button type="submit" class="btn btn-primary">Log In</button>
}